.btn-primary {
  --bs-btn-bg: #374151;
  --bs-btn-color: #fff;
  --bs-btn-bg: #374151;
  --bs-btn-border-color: #374151;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #445166;
  --bs-btn-hover-border-color: #374151;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #374151;
  --bs-btn-active-border-color: #374151;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: gray;
  --bs-btn-disabled-border-color: gray;
  --bs-btn-active-bg:#445166;
  --bs-btn-active-border-color: transparent;
}

.btn-secondary {
    --bs-btn-bg: #f0bc74;
    --bs-font-sans-serif: "Inter", sans-serif;
    --bs-btn-active-color:#1f2937;
    --bs-btn-active-bg:#f3c990;
    --bs-btn-active-border-color: transparent;
}

body {
    background-color: #f2f4f6 !important;
}

.bg-nav {
  background: #1f2937;
}

.main-nav *{
  color: white !important;
}

.nav-icon {
  color: #9ca3af !important;
  font-size: 1.3rem;
}

#main-menu .nav-item:hover{
  transition: ease-in-out all .2s;
  -moz-transition: ease-in-out all .2s;
  -webkit-transition: ease-in-out all .2s;
  font-weight:bold;
  background: #374151 !important;
}

#main-menu .nav-item-active{
  background: #374151 !important;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.sidebar{
  padding: 0 !important;
}

.btn-collapsed-menu:hover{
  cursor: pointer;
}

.login-logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login-logo-container img{
  max-width: 50%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.btn-secondary {
    color: #1f2937;
    background-color: #f0bc74;
    border-color: #f0bc74;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(17,24,39,.075);
}

.btn-secondary:hover, .btn-secondary:active {
    color: #1f2937;
    background-color: #eeb15d;
    border-color: #eeb15d;
}

.table-responsive{
    min-height: 200px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
