body{
    background: #eff2f6;
}

.navbar-height-spacing{
    min-height: 70px;
}

.text-caption{
    font-size: .8rem;
    color: gray;
}

.bubble-enable{
    color: greenyellow;
}

.bubble-disable{
    color: lightgray;
}